{
  "mcpServers": {
    "supabase": {
      "type": "http",
      "url": "https://mcp.supabase.com/mcp?project_ref=enloyfnuerqgaqderbwb&read_only=true&features=database,debugging,development,docs"
    },
    "vercel": {
      "type": "http",
      "url": "https://mcp.vercel.com"
    },
    "stitch": {
      "command": "npx",
      "args": [
        "-y",
        "@_davideast/stitch-mcp",
        "proxy"
      ]
    }
  }
}
